@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Andika", Arial, sans-serif;
}
h2 { letter-spacing: 1.5px; }
#zoneJeu {
	width: 20rem;
	border: 3px solid var(--border-color);
	border-radius: 30% 15%;
	padding: 1.2rem;
	font-size: 1.1rem;
	text-align: center;
}
#reponse, #reponse:focus, #reponse:active {
	margin-bottom: 2rem;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid var(--border-color);
	outline: none;
	font-size: 1.1rem;
	color: var(--text-color);
}
#commentaire, #score {
	font-size: 0.9rem;
}
.footer {
	position: fixed;
	bottom: 2px;
	right: 2px;
	font-size: 0.8rem;
	color: var(--text-color);
}
#switchTheme+label {
	font-size: 0.8rem;
}