body
{
	display: flex;
	justify-content: center;
	background-color: darkslategrey;
	margin: 50px;
}
h2
{
	letter-spacing: 2px;
}
.zoneJeu
{
	border-radius: 30% 15%;
	background: linear-gradient(to right, blueviolet, orange);
	width: 400px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	color: whitesmoke;
	text-align: center;
	border: 3px solid whitesmoke;
	position: fixed;
	height: 50%-300px;
}
.valeurProposee, .valeurProposee:focus, .valeurProposee:active
{
	font-size: 20px;
	background-color: transparent;
	border: 0px;
	outline: none;

}
.nouvellePartie
{
	border-radius: 15% 30%;
	border: 3px solid whitesmoke;
	background: linear-gradient(to left, blueviolet, orange);
	color: whitesmoke;
	padding: 10px;
}